
{% block list_pane %}
	<!-- DEVICES MANAGEMENT PAGE -->
	<!-- SEARCH BAR -->
	<form method="GET" class="navbar-form" action="">
		<div class="row form-group">
			<div class="col-xs-9 col-sm-9 col-lg-9 col-xl-9">
				<input type="hidden" name='t' value="list"/>
				<input type="text" name='q' class="form-control" placeholder="Search Device" value="{{ request.GET.q }}"/>					
			</div>
			<div class="col-xs-1 col-sm-1 col-lg-1 col-xl-1">
			<button type="submit" class="btn btn-default">Search</button>
			</div>
		</div>
	</form>
	<!-- DEVICES LIST -->
	<div class="row col-sm-8 offset-sm-1" >
		{% for obj in object_list %}
		<div class="col-sm-12">
			<div class="thumbnail">
				<div class="caption">
					<h3><a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a>
					<small>{{ obj.address }}</small></h3>
					<p>{{ obj.description }}</p>
				</div>
			</div>
		</div> 
		{% cycle "</div><hr/><div class='col-sm-8 offset-sm-1 row bg-light'>" "</div><hr/><div class='row col-sm-8 offset-sm-1 '>" %}
		{% endfor %}
		<div class="row">
		    <ul class="pagination" >
		        {% if object_list.has_previous %}
					<li class="page-item">
						<a class="page-link" href="?{{ tab_request_var }}=list&{{ page_request_var }}=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; first</a>
		            </li>
					<li class="page-item">
		            <a class="page-link" href="?{{ tab_request_var }}=list&{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&lt; previous</a>
		            </li>
		        {% else %}
					<li class="page-item disabled">
						<a class="page-link" href="#">&laquo; first</a>
		            </li>
					<li class="page-item disabled">
		            <a class="page-link" href="##"> &lt; previous</a>
		            </li>
		        {% endif %}
		
		        <span class="current">
					<li class="page-item">
						<h4>&nbsp;{{ object_list.number }} of {{ object_list.paginator.num_pages }}&nbsp;</h4>
		            </li>
		        </span>
		
		        {% if object_list.has_next %}
					<li class="page-item">
						<a class="page-link" href="?{{ tab_request_var }}=list&{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next &gt;</a>
		            </li>
					<li class="page-item">
						<a class="page-link" href="?{{ tab_request_var }}=list&{{ page_request_var }}={{ object_list.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">last &raquo;</a>
		            </li>
		        {% else %}
					<li class="page-item disabled">
						<a class="page-link" href="#">next &gt;</a>
		            </li>
					<li class="page-item disabled">
						<a class="page-link" href="#">last &raquo;</a>
		            </li>
		        {% endif %}
		    </ul> 
		</div>	
	</div>
{% endblock %}

