{% extends 'base.htm' %}
{% load staticfiles %}

{% block page_title_block %}
{% endblock %}

{% block body_block %}
	<div class="container">
		<h1>{{ pagename }}</h1>
		<ul class="nav nav-tabs" id="nav-tab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Sensors</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
			</li>
		</ul>
		<br/>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				
				<!-- DEVICES MANAGEMENT PAGE -->
				<!-- SEARCH BAR -->
					<form method="GET" class="navbar-form" action="">
						<div class="row form-group">
							<div class="col-xs-9 col-sm-9 col-lg-9 col-xl-9">
								<input type="text" name='q' class="form-control" placeholder="Search Device" value="{{ request.GET.q }}"/>					
							</div>
							<div class="col-xs-1 col-sm-1 col-lg-1 col-xl-1">
							<button type="submit" class="btn btn-default">Search</button>
							</div>
						</div>
					</form>
				<!-- DEVICES LIST -->
				<div class="row" >
					{% for obj in object_list %}
					<div class="col-sm-12">
						<div class="thumbnail">
							<div class="caption">
								<h3><a href="{{obj.get_absolute_url}}">{{ obj.name }}</a>
								<small>{{ obj.address}}</small></h3>
								<p>{{ obj.description }}</p>
							</div>
						</div>
					</div> 
					{% cycle "</div><hr/><div class='row bg-light'>" "</div><hr/><div class='row'>" %}
					{% endfor %}
					<div class="pagination">
					    <span class="step-links">
					        {% if object_list.has_previous %}
					            <a href="?{{ page_request_var }}=1">&laquo; first</a>
					            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">previous</a>
					        {% endif %}
					
					        <span class="current">
					            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
					        </span>
					
					        {% if object_list.has_next %}
					            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}">next</a>
					            <a href="?{{ page_request_var }}={{ object_list.paginator.num_pages }}">last &raquo;</a>
					        {% endif %}
					    </span>
					</div>	
				</div>
			</div>
			<div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
				<form class="navbar-form">
						<div class="row form-group">
							<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
								<button type="submit" class="btn btn-default">Scan</button>
								<label >Scan for new devices</label>
							</div>
						</div>
						<div class="form-group">
							<a href="{% url 'device:create' %}" class="btn btn-default">Manual</a>
						</div>
				</form>
			</div>
		</div>
		
		
	</div>
{% endblock %}

